/*  The * below is used as a universal selector, so it creates default settings for your site */
* {
    font-size: 12pt;
    line-height: 14pt;
    font-family: Arial, Helvetica, sans-serif;
}
menu{font-size: 22;}

@font-face {
  font-family: "";
  src: url(./);
}


body {
  background-color:rgb(1, 110, 34);
}

header a{
  text-decoration: none;
}

/*ul settings for nav bar*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  display:flex;
}

ul li {
  float: center;
  display:flex;
  
}

ul li a {
  display: flex;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  z-index: 300;
}

ul li a:hover {
  font-weight: bold;
}

h1{
  align-content: center;
}

span{
  writing-mode: vertical-lr;
}

bordered{
  border-style: dashed;
  margin: 25px;
}

/*h2*/

h2{
  text-transform: lowercase;
  text-align: center;
  text-decoration: none;
  color:rgb(1, 110, 34);

   font-size: 72px;
            text-shadow: 
                -1px -1px 0 black,
                 1px -1px 0 black,
                -1px  1px 0 black,
                 1px  1px 0 black;
}


h2:hover,
a:hover h2{
  color: black;
}

form{
  align-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  border-style: double;
}

.container div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

postcard {
display: block;
}

.oval {
  height: 50px;
  width: 100px;
  background-color: #555;
  border-radius: 50%;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

nav{
align-items: center;
}

img {
  display: block;
  margin: auto;
    margin-top: 25px;
}
/* how you want the structure of your submissions to appear below. display: grid; and display: flex; are good places to start */
.grid {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    gap: 20px;
    padding: 20px;
}

/* how do you want each individual submission to appear? do they have a border: 1px black solid; etc. a different font-family, font-size or color? */
.grid div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

/* Styling for postcard entries */
.grid section.postcard-entry {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.grid section.postcard-entry img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.grid section.postcard-entry .postcard-text {
  font-size: 14px;
  line-height: 1.4;
}

.grid section.postcard-entry .postcard-timestamp {
  font-size: 10px;
  color: #666;
  margin: 0;
  font-style: italic;
}

/* some other things you should consider for css styling are: 
html, <h1>, <p>, <div>, .classes, #IDs, img, a */